body {
  font-family: 'Avenir Next', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

header {
  margin: 0 auto;
  width: 90%;
  max-width: 40em;
  padding: 5vh 0 15vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  margin: 4vh 0 0;
  font-size: 1.25em;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 700;
  color: #8161c0;
  text-align: center;
}

a {
  color: #37aad2;
}

section {
  margin: 0 auto;
  width: 90%;
  max-width: 40em;
}

article + article {
  margin-top: 16vh;
}

h2 {
  margin: 0;
  font-family: "Avenir Next Condensed", sans-serif;
  font-weight: 400;
  font-size: 2em;
}

h2 a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

h2 a:hover {
  -webkit-transform: scale(1.05) rotate(-2.5deg);
          transform: scale(1.05) rotate(-2.5deg);
}

h2 a:active {
  -webkit-transform: scale(1.025) rotate(-1.25deg);
          transform: scale(1.025) rotate(-1.25deg);
}

p {
  margin: 0;
}
@media (min-width: 35em) {
  p {
    padding-left: 2em;
  }
}

h2 + p {
  margin-top: 0.5em;
}

p + p {
  margin-top: 1em;
}

.divider {
  text-align: center;
  padding: 16vh 0 8vh;
}

footer {
  text-align: center;
  padding-bottom: 8vh;
}

footer p {
  padding: 0;
  font-size: 0.75em;
}

.overlay {
  mix-blend-mode: overlay;
}

.white {
  fill: white;
}

.circle {
  fill: #d8ceec;
}

.p1 {
  fill: #2089ad;
}

.p2 {
  fill: #167fa3;
}

.p3 {
  fill: #0c7599;
}

.p4 {
  fill: #026b8f;
}

.p5 {
  fill: #006185;
}

.p6 {
  fill: #00577b;
}

.p7 {
  fill: #004d71;
}

.p8 {
  fill: #004367;
}
